@charset "utf-8";

/* --------------------
	Font 
-------------------- */
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:300;src:local('※'),url(../fonts/NotoSans-Light.woff2) format('woff2'),url(../fonts/NotoSans-Light.woff) format('woff')}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:local('※'),url(../fonts/NotoSans-Regular.woff2) format('woff2'),url(../fonts/NotoSans-Regular.woff) format('woff')}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:500;src:local('※'),url(../fonts/NotoSans-Medium.woff2) format('woff2'),url(../fonts/NotoSans-Medium.woff) format('woff')}
@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;src:local('※'),url(../fonts/NotoSans-Bold.woff2) format('woff2'),url(../fonts/NotoSans-Bold.woff) format('woff')}

/* -------------------- 
	Reset 
-------------------- */
*{	border:0;
	margin:0;
	padding:0;
	box-sizing:border-box;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(255,255,255,0); 
    -webkit-font-smoothing:antialiased; 
	-webkit-overflow-scrolling:touch;
}
*:before,*:after{box-sizing:border-box}
body{
	padding-bottom:constant(safe-area-inset-bottom);
	padding-bottom:env(safe-area-inset-bottom);
	padding-right:constant(safe-area-inset-right);
	padding-left:constant(safe-area-inset-left);
	padding-right:env(safe-area-inset-right);
	padding-left:env(safe-area-inset-left);
	font-family:'Noto Sans','돋움',Dotum,sans-serif;
	font-weight:300;
	font-size:13px;
	line-height:1.4;
	word-break:keep-all;
	color:#333
}
section,article,aside,hgroup,header,footer,figure,figcaption,nav,main{display:block}
h1,h2,h3,h4,h5,h6{line-height:normal;font-weight:normal;font-size:inherit}
ul,ol,li{list-style:none}
em,address{font-style:normal}
a,a:hover,a:active,a:visited{text-decoration:none;color:currentColor}
img{vertical-align:top}
table{border-spacing:0;width:100%;table-layout:fixed;border-collapse:collapse}
caption,.hid{position:absolute;left:-1000%;width:0;height:0;line-height:0;font-size:0;color:transparent}
input[type=text],input[type=search],input[type=password],select{border:1px solid #d7d7d7;padding:0 7px;background-color:#fff;vertical-align:top;font-family:inherit;font-weight:300;color:currentColor}
input[type=text],input[type=password],select,textarea{-webkit-border-radius:0;-webkit-appearance:none}
input[type=checkbox],input[type=radio]{vertical-align:middle}
*:disabled{background-color:#f4f4f4 !important;color:#666}
input:-moz-read-only{background-color:#f4f4f4 !important;color:#666}
input:read-only{background-color:#f4f4f4 !important;color:#666}
input[type="text"]::-ms-clear{display:none}
select{padding:0 28px 0 7px;background:url("../images/common/bg_select.png") no-repeat right 7px top 50%/8px auto;color:#666}
select::-ms-expand{display:none}
.ie9 select{padding-right:0;background-image:none !important}
label{vertical-align:middle;cursor:pointer}
button{background-color:transparent;font-family:inherit;font-weight:300;font-size:inherit;vertical-align:top;cursor:pointer}
textarea{border:1px solid #d7d7d7;width:100%;padding:5px;font-family:inherit;resize:vertical}
::selection{background:#92cfe7}
::placeholder{color:#999 !important}
:-ms-input-placeholder{color:#999 !important}
::-ms-input-placeholder{color:#999 !important}
.blind{position:absolute;left:-1000%;width:0;height:0;line-height:0;font-size:0;color:transparent}

/* --------------------
	accessibility 
-------------------- */
#skip_nav{position:absolute;left:0;top:0;width:100%;z-index:9999}
#skip_nav a{display:block;width:1px;height:1px;margin-bottom:-1px;text-align:center;color:#fff;overflow:hidden}
#skip_nav a:focus,#skip_nav a:active{width:100%;height:auto;padding:5px 0;background-color:#ff5622}
#content{display:block;width:100%}

/* --------------------
	slick 
-------------------- */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,
.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-disabled{cursor:default;opacity:.5}

/* -------------------- 
	Common Style 
-------------------- */
/*------ 체크박스 ------*/
.ck_box{border:0;width:0;height:0}
.ck_box+label{display:inline-block;position:relative;padding:2px 0 2px 20px}
.ck_box+label:before{content:'';display:block;position:absolute;top:12px;left:0;border:1px solid #8e8e8e;width:15px;height:15px;margin-top:-8px;background:#fff}
.ck_box:checked+label:after{content:'';display:block;position:absolute;top:12px;left:5px;border-right:1px solid #333;border-bottom:1px solid #333;width:5px;height:8px;margin-top:-6px;transform:rotate(45deg)}
/*------  레이어 팝업 ------*/
.layer-popup-box{display:none;position:fixed;left:0;top:0;z-index:100000;width:100%;height:100%;background-color:rgba(0,0,0,.5)}
.layer-popup-box .popup{position:absolute;left:50%;top:50%;z-index:101;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);width:calc(100% - 20px);background-color:#fff}
.layer-popup-box .popup .top{position:relative;padding-left:12px;background-color:#284885}
.layer-popup-box .popup .top h3{padding:10px 50px 11px 0;font-weight:500;font-size:16px;color:#fff}
.layer-popup-box .popup .top button{position:absolute;right:0;top:0;;width:43px;height:100%;background:url(../images/common/btn_pop_close.gif) no-repeat 50% 50%;background-size:19px auto}
.layer-popup-box .pop-content{max-height:calc(100vh - 280px);overflow-y:auto;padding:20px 15px 0}
.layer-popup-box .pop-content h5{margin-bottom:8px;font-weight:500;font-size:16px;color:#333}
.layer-popup-box .pop-size-820{max-width:820px}
.layer-popup-box .pop-size-700{max-width:700px}
.layer-popup-box .pop-size-580{max-width:580px}
.layer-popup-box .pop-size-500{max-width:500px}
/*------  로그인 ------*/
.login .pop-content{background:#f8f8f8}
.login_form_wrap{padding-bottom:20px}
.login_form_wrap .login_tit{margin-bottom:15px;font-weight:700;font-size:20px;text-align:center}
.login_wrap{position:relative;margin-bottom:10px;padding-bottom:35px}
.login_wrap .input_box{margin-bottom:5px;overflow:hidden}
.login_wrap .input_box>label{display:inline-block;width:55px;margin-right:5px;padding-top:4px;font-weight:500;font-size:14px;text-align:right;float:left}
.login_wrap .input_box>span{display:inline-block;width:calc(100% - 62px);overflow:hidden}
.login_wrap .input_box>span>input{width:100%}
.login_wrap .input_box>span>input:focus{border:1px solid #333}
.login_wrap button[type=submit]{position:absolute;bottom:0;right:0;width:100%;height:35px;background:#fe5723;font-weight:500;font-size:15px;color:#fff}
.utill_area{font-weight:500}
.utill_area .l{margin-bottom:10px;text-align:right}
.ckbox>input[type=checkbox]+label{position:relative;padding-left:20px}
.ckbox>input[type=checkbox]+label:before{content:'';display:block;position:absolute;top:3px;left:0;width:15px;height:15px;background:url('../images/common/img_check_off.gif') no-repeat 0 0/100%}
.ckbox>input[type=checkbox]:checked+label:before{background-image:url('../images/common/img_check_on.gif')}
.utill_area .r{text-align:center}
.utill_area .r a{display:inline-block;position:relative;margin-right:10px}
.utill_area .r a:hover{text-decoration:underline}
.utill_area .r a:last-child{margin-right:0}
.utill_area .r a:first-child:after{content:'';display:block;position:absolute;top:6px;right:-8px;width:1px;height:7px;background:#a7a7a7}
.caution_box{border-width:2px 0 1px;border-style:solid;border-color:#333;margin-top:15px;padding:10px 5px}
.ul_cau>li{margin-bottom:3px}
.ul_cau>.bul{font-weight:500}
ul>.bul:before{content:'';display:inline-block;width:3px;height:3px;margin-right:3px;background:#2e527d;vertical-align:3px}
/*------  상단 공지 ------*/
.notice_top{height:30px;padding:5px 10px;background:#d9d9d9;font-weight:400;color:#5b5b5b}
.notice_top .inner{overflow:hidden}
.notice_top .l{width:calc(100% - 130px);vertical-align:top;float:left}
.notice_top .l strong{font-weight:500;color:#000}
.notice_top .n_cont{display:inline-block;max-width:calc(100% - 24px);overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:top}
.notice_top .n_cont a:hover{text-decoration:underline}
.notice_top .l .new{display:inline-block;width:18px;height:18px;margin-left:3px;background:url('../images/common/icon_new_content.png') no-repeat 0 0 / 18px;font-size:0;vertical-align:top}
.notice_top .r{vertical-align:top;float:right}
.notice_top .btn_black_close{display:inline-block;width:15px;height:15px;margin-top:3px;margin-left:5px;background:url('../images/common/btn_black_close.png') no-repeat 50% 50%/auto}

.btn_check{display:inline-block;padding:2px 0 2px 20px;background:url('../images/common/img_check_off.gif') no-repeat 0 4px/15px}

@media screen and (max-width:1296px){
	body{min-width:320px}
	input[type=text],input[type=password],select{height:29px;font-size:12px}
	::placeholder{font-size:12px}
	.m_ctn{display:block}
	.pc_ctn{display:none}
	.btn_more{padding:0 10px 3px 0;background:url('../images/common/bg_more.png') no-repeat right 0 bottom 0/46px;font-weight:500;font-size:11px;color:#333}

	#header{position:fixed;top:0;left:0;border-bottom:3px solid #ff5622;width:100%;background:#112e51;color:#fff;z-index:2}
	#header.on:after{content:'';display:block;position:fixed;top:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,.8)}
	.loging{height:30px;padding-top:6px;padding-right:90px;background:#0e2745;text-align:right}
	.loging .login_user strong{font-weight:400;color:#fcd94f}
	.loging .login_user span{font-weight:700;font-size:14px}
	.header_t{position:relative;height:50px}
	.header_t .logo{position:absolute;top:0;left:50%;transform:translateX(-50%)}
	.header_t .logo a{display:block;width:185px;height:50px;padding-left:25px;background:url("../images/common/logo.png") no-repeat 0 center/20px;font-weight:400;font-size:15px;line-height:48px;color:#fafbfc}
	.header_t .logo a span{font-weight:700}
	.header_t .total_search_wrap .search_box select,.header_t .total_search_wrap .search_box,.header_t .total_search_wrap>a{display:none}
	.header_t .total_search_wrap .btn_desktop_search{display:block;position:absolute;top:0;right:0;width:38px;height:50px;background:url("../images/common/icon_search.png") no-repeat center/18px auto;font-size:0}
	.header_t .login_btn_wrap{position:absolute;top:-26px;right:10px}
	.header_t .login_btn_wrap .btn_login{display:none}
	.header_t .login_btn_wrap .btn_logout{display:block;border:2px solid #fff;border-radius:12px;width:68px;height:23px;font-size:12px;text-align:center}
	.header_b{position:relative}
	.header_b .btn_menu{position:absolute;top:-50px;left:0;width:42px;height:50px;background:url("../images/common/icon_menu.gif") no-repeat 10px center/20px auto;font-size:0}
	#gnb{position:fixed;top:0;left:-100%;width:90%;height:100vh;padding-bottom:20px;background:#112e51;transition:left .3s ease;-webkit-transition:left .3s ease;z-index:1;overflow-y:auto}
	header.on #gnb{left:0}
	.gnb_header{position:relative;border-bottom:2px solid #fe5723;height:52px;padding:0 10px}
	.gnb_header .m_logo{height:50px;padding-left:26px;background:url("../images/common/logo.png") no-repeat 0 center/20px;font-weight:300;font-size:16px;line-height:48px}
	.gnb_header .m_logo span{font-weight:500}
	.gnb_header .btn_menu_close{position:absolute;top:12px;right:10px;border:2px solid #fff;border-radius:18px;width:68px;height:27px;padding-left:16px;font-size:12px;color:#fff}
	.gnb_header .btn_menu_close:before{content:'';display:block;position:absolute;left:12px;top:6px;width:11px;height:11px;background:url("../images/common/icon_plus2.gif") no-repeat 0 0/11px;transform:rotate(45deg)}
	.btn_login_m{display:block;border-bottom:1px solid rgba(255,255,255,.2);height:35px;background:#0e2745;font-weight:500;font-size:15px;text-align:center;line-height:33px}
	.login_info{border-bottom:1px solid rgba(255,255,255,.2);background:#0e2745}
	.login_info .login_user{padding:10px 0;text-align:center;}
	.login_info .login_user>span{display:inline-block;margin-left:20px;vertical-align:top}
	.login_info .login_user .user_img{margin-left:0}
	.login_info .login_user img{display:inline-block;border-radius:50%;width:59px;height:59px}
	.login_info .login_user .user_name{margin-top:12px;font-weight:700;font-size:15px;color:#fcd94f}
	.login_info .login_user .user_name span{font-size:13px;color:#fff}
	.login_info .login_user .btn_logout_wrap{margin-top:10px}
	.btn_logout_m{display:block;border:1px solid #fff;border-radius:29px;width:84px;height:29px;font-weight:500;font-size:14px;text-align:center;line-height:27px;color:#fff}
	.login_info .user_service{padding:5px 0 15px;text-align:center}
	.login_info .user_service a{display:inline-block;margin-right:5px;font-weight:500}
	.login_info .user_service a:last-child{margin-right:0}
	.login_info .user_service a span{display:inline-block;border-radius:5px;width:41px;height:20px;margin-left:5px;background:#ff5622;text-align:center;line-height:18px;color:#fff}
	#gnb .depth1>li>a{display:block;border-bottom:1px solid rgba(255,255,255,.2);height:35px;padding:0 20px;background:url("../images/common/icon_plus2.gif") no-repeat right 20px center/11px;font-weight:400;font-size:14px;line-height:35px}
	#gnb .depth1>li>.on{position:relative;background:none}
	#gnb .depth1>li>.on:after{content:'';display:block;position:absolute;top:50%;right:20px;width:11px;height:1px;background:#fff}
	#gnb .depth1>li>.on+.depth2{display:block;border-bottom:1px solid rgba(255,255,255,.2);background:#f8f8f8}
	#gnb .depth1>li>.on+.depth2>li>a{display:block;border-bottom:1px solid #ccc;padding:7px 20px 7px;font-weight:500;color:#000}
	#gnb .depth1>li>.on+.depth2>li:last-child>a{border-bottom:0}
	#gnb .depth1>li>.on+.depth2>li>a:before{content:'';display:inline-block;border-width:2px 0 2px 4px;border-style:solid;border-color:transparent transparent transparent #000;margin-right:5px;vertical-align:3px}
	#gnb .depth1>li>.on+.depth2>li>.arrow{position:relative}
	#gnb .depth1>li>.on+.depth2>li>.arrow:after{content:'';display:block;position:absolute;top:50%;right:22px;border-width:1px;border-style:solid;border-color:#333 #333 transparent transparent;width:7px;height:7px;
		margin-top:-2px;transform:translateY(-50%) rotate(135deg)}
	#gnb .depth1>li>.on+.depth2>li>.arrow.on:after{margin-top:0;transform:rotate(315deg)}
	#gnb .depth2{display:none}
	#gnb .depth3{display:none;border-bottom:1px solid #ccc;padding:0 27px;background:#e0e0e0}
	#gnb .depth3>li>a{display:block;padding:7px 0 8px;font-weight:400;color:#333}
	#gnb .depth3>li>a:before{content:'';display:inline-block;border-radius:2px;width:2px;height:2px;margin-right:3px;background:#333;vertical-align:3px}
	#gnb .depth1>li>.on+.depth2>li>.on+.depth3{display:block}
	.my_service{display:none}
	#footer{border-top:1px solid #dee3eb;padding:13px 10px 20px;background:#f8f8f8}
	.footer_t .l{margin-bottom:15px;color:#333}
	.footer_t .l ul{margin-left:-8px;overflow:hidden}
	.footer_t .l ul li{float:left}
	.footer_t .l ul li:not(:first-child):before{content:'';display:inline-block;width:1px;height:7px;margin-right:-1px;background:#666;vertical-align:2px}
	.footer_t .l ul li a{display:inline-block;padding:0 8px;font-weight:500}
	.footer_t .r ul li{margin-bottom:5px}
	.footer_t .r .family_site select{display:block;border:1px solid #6e6e6e;width:100%;height:30px;padding:0 15px;line-height:28px;background:url("../images/common/icon_plus.png") no-repeat right 15px top 50%/11px}
	.footer_b{margin-top:15px;font-weight:400;color:#999}
	
}

@media screen and (min-width:510px),print{
	/*------  로그인 ------*/
	.login_wrap{margin-bottom:10px;padding-bottom:0}
	.login_wrap .input_box{width:calc(100% - 85px)}
	.login_wrap .input_box.pw_box{margin-bottom:0}
	.login_wrap button[type=submit]{top:0;bottom:auto;right:0;width:80px;height:67px;padding-top:25px;background:#fe5723 url('../images/common/btn_login.png') no-repeat 50% 10px/16px}
	.utill_area{padding-left:61px;overflow:hidden}
	.utill_area .l{margin-bottom:0;text-align:left;float:left}
	.utill_area .r{text-align:left;float:right}
	.utill_area .r a{vertical-align:-1px}
	.caution_box{padding:20px 15px}
}

@media screen and (min-width:1297px),print{
	body,table,textarea{font-size:15px}
	::placeholder{font-size:15px}
	input[type=text],input[type=password],select{height:38px;font-size:14px}
	select{padding:0 57px 0 20px;background:url("../images/common/bg_select.png") no-repeat right 20px top 50%/auto}
	.pc_ctn{display:block}
	.m_ctn{display:none}
	.inner{width:1280px;margin:0 auto}
	.btn_more{padding:0 15px 7px 0;background:url('../images/common/bg_more.png') no-repeat right 0 bottom 0;font-weight:500;font-size:14px;color:#333}
	.ck_box+label{padding:3px 0 2px 25px}
	.ck_box+label:before{top:14px;width:18px;height:18px;margin-top:-8px}
	.ck_box:checked+label:after{top:14px;left:7px;width:5px;height:10px;margin-top:-6px}
	/*------  레이어 팝업 ------*/
	.layer-popup-box .popup .top{padding-left:24px}
    .layer-popup-box .popup .top h3{padding:20px 54px 21px 0;font-size:20px}
    .layer-popup-box .popup .top button{width:72px;background-size:auto}
    .layer-popup-box .pop-content{max-height:calc(100vh - 246px);padding:25px 25px 0}
	.layer-popup-box .pop-content h5{margin-bottom:8px;font-size:16px}
	.layer-popup-box .pop-size-820{width:820px}
    .layer-popup-box .pop-size-700{width:700px}
    .layer-popup-box .pop-size-580{width:580px}
	.layer-popup-box .pop-size-500{width:500px}
	/*------  로그인 ------*/
	.login_form_wrap{padding:20px 35px 50px}
	.login_form_wrap .login_tit{margin-bottom:25px;font-size:40px}
	.login_wrap{margin-bottom:25px;padding:0 65px}
	.login_wrap .input_box{width:calc(100% - 128px);margin-bottom:9px}
	.login_wrap .input_box>label{width:70px;margin-right:10px;padding-top:5px;font-size:18px}
	.login_wrap .input_box>span{width:calc(100% - 80px)}
	.login_wrap button[type=submit]{right:65px;width:118px;height:90px;padding-top:52px;background-position:50% 13px;background-size:auto}
	.utill_area{padding:0 65px 0 145px}
	.ckbox>input[type=checkbox]+label{padding-left:25px}
	.ckbox>input[type=checkbox]+label:before{top:4px;left:0;width:20px;height:20px}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.ckbox>input[type=checkbox]+label:before{top:2px;left:0;width:20px;height:20px}
	}
	.utill_area .r a{margin-right:40px}
	.utill_area .r a:first-child:after{top:6px;right:-25px;height:10px}
	.caution_box{margin-top:30px;padding:20px 25px}
	.ul_cau>li{margin-bottom:5px}
	ul>.bul:before{border-radius:3px;margin-right:5px;vertical-align:4px}
	/*------  상단 공지 ------*/
	.notice_top{height:40px;padding:10px 0}
	.notice_top .l{width:calc(100% - 150px)}
	.notice_top .n_cont{display:inline-block;max-width:calc(100% - 24px);overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:top}
	.notice_top .l .new{width:22px;height:22px;margin-left:3px;background-size:22px}
	.notice_top .r{margin-top:-2px;vertical-align:top;float:right}
	.btn_check{padding:2px 0 2px 30px;background-position:0 2px;background-size:21px}
	.notice_top .btn_black_close{margin-top:5px;margin-left:10px}

	#header{border-bottom:6px solid #ff5622;background:#112e51;color:#fff}
	.loging{height:40px;background:#0e2745;text-align:right;line-height:40px}
	.loging .login_user{display:inline-block;margin-right:35px}
	.loging .login_user strong{font-size:16px;font-weight:400;color:#fcd94f}
	.loging .login_user span{font-weight:500;}
	.loging .user_service{display:inline-block}
	.loging .user_service a{display:inline-block;margin-right:10px}
	.loging .user_service a:last-of-type{margin-right:0}
	.loging .user_service a span{display:inline-block;border-radius:11px;min-width:44px;height:22px;margin-left:10px;background:#ff5622;text-align:center;line-height:1.4}
	.header_t{border-bottom:1px solid #405773}
	.header_t .inner>*,.header_b .inner>*{display:inline-block;vertical-align:top;}
	.header_t .logo a{display:block;width:300px;height:73px;padding-top:16px;padding-left:50px;background:url("../images/common/logo.png") no-repeat left 0 top 50%;font-weight:400;font-size:24px;letter-spacing:-.75px;color:#fafbfc}
	.header_t .logo a span{font-weight:500}
	.header_t .total_search_wrap{height:73px;margin-left:64px;padding-top:9px;font-size:0}
	.header_t .total_search_wrap>*{display:inline-block;vertical-align:top}
	.header_t .search_box{position:relative;width:537px;height:57px;background:#405773;font-size:0}
	.header_t .search_box>span{display:inline-block;position:relative;}
	.header_t .search_box>span>*{display:inline-block;border:0;height:57px;background:transparent}
	.header_t .search_box>span:first-of-type>select{width:150px;padding-right:20px;background:none;font-size:17px;color:#fff}
	.header_t .search_box>span:first-of-type>select>option{color:#333}
	.ie9 .header_t .search_box>span:first-of-type>select>option{background:#405773;color:#fff}
	.header_t .search_box>span:first-of-type:after{content:'';display:block;position:absolute;top:50%;right:15px;border-width:5px 5px 0 5px;border-style:solid;border-color:#fff transparent transparent transparent;margin-top:-1px}
	.ie9 .header_t .search_box>span:first-of-type>select{padding-right:0;color:#fff}
	.ie9 .header_t .search_box>span:first-of-type:after{display:none}
	.header_t .search_box>span:nth-of-type(2){width:calc(100% - 150px)}
	.header_t .search_box>span:nth-of-type(2):before{content:'';display:block;position:absolute;top:50%;left:-1px;width:2px;height:24px;margin-top:-12px;background:#fff}
	.ie9 .header_t .search_box>span:nth-of-type(2):before{display:none}
	.header_t .search_box>span:nth-of-type(2)>input{width:100%;padding-left:25px;padding-right:77px;background:url('../images/common/icon_search.png') no-repeat right 26px top 50%;font-size:17px}
	.header_t .search_box>span:nth-of-type(2)>input::placeholder{font-size:17px;color:#fff !important}
	.header_t .search_box>span:nth-of-type(2)>input:-ms-input-placeholder{font-size:17px;color:#fff !important}
	.header_t .search_box>span:nth-of-type(2)>input::-ms-input-placeholder{font-size:17px;color:#fff !important}
	.header_t .search_box .btn_search{display:block;position:absolute;top:0;right:0;width:77px;height:57px;background:url("../images/common/icon_search.png") no-repeat center}
	.header_t .total_search_wrap>a{width:126px;height:57px;font-weight:500;font-size:17px;text-align:center;line-height:55px;color:#fff}
	.header_t .total_search_wrap .btn_desktop_search{background:#062141}
	.header_t .total_search_wrap .btn_detail_search{margin-left:2px;background:#274364}
	.header_t .login_btn_wrap{position:relative;width:118px;height:73px}
	.header_t .login_btn_wrap a{display:block;position:absolute;top:50%;right:0;border:2px solid #f8f8f8;border-radius:17px;width:93px;height:33px;margin-top:-17px;font-weight:400;font-size:15px;text-align:center;line-height:31px;color:#f8f8f8}
	.header_b{height:56px}
	.header_b .btn_menu{display:inline-block;position:relative;width:157px;height:56px;padding-left:50px;background:url("../images/common/icon_menu.gif") no-repeat left 0 top 50%;font-weight:500;font-size:20px;line-height:54px;}
	.header_b .btn_menu:after{content:'';display:block;position:absolute;top:50%;right:0;width:2px;height:18px;margin-top:-9px;background:#fff}
	#header.on{position:relative}
	#header.on:after{content:'';display:block;position:absolute;left:0;bottom:-193px;width:calc(100vw - 17px);height:187px;background:#f8f8f8 url('../images/sub/bg_gnb_depth2_pc.png') no-repeat left calc((100% - 1145px) / 2) top 50%;box-shadow:0 8px 30px 10px rgba(0,0,0,.2);z-index:1}
	#gnb .depth1{padding:0 10px}
	#gnb .depth1:after{content:'';display:block;clear:both}
	#gnb .depth1>li{float:left}
	#gnb .depth1>li>a{display:block;position:relative;height:56px;padding:0 60px;font-weight:500;font-size:20px;line-height:54px}
	#gnb .depth1>li>a:hover:after,
	#header.on #gnb .depth2:hover:after{content:'';display:block;position:absolute;left:50%;border-width:0 5px 5px 5px;border-style:solid;border-color:transparent transparent #ff5622 transparent;margin-left:-5px}
	#gnb .depth1>li>a:hover:after{bottom:0}
	#header.on #gnb .depth2:hover:after{top:-11px}
	.header_b .my_service{height:56px;padding-top:7px}
	.header_b .my_service a{display:inline-block;border:1px solid #576b83;height:41px;font-weight:400;font-size:17px;text-align:center;line-height:40px}
	.header_b .my_service .btn_my_search{width:173px}
	.header_b .my_service .btn_my_info{width:114px;margin-left:2px}
	#gnb .depth2{display:none}
	#header.on #gnb .depth1>li{position:relative}
	#header.on #gnb .depth2{display:block;position:absolute;top:62px;left:0;width:100%;height:187px;padding-top:28px;color:#666;z-index:2}
	#header.on #gnb .depth2>li{margin-bottom:15px}
	#header.on #gnb .depth2>li>a{display:inline-block;padding-left:15px;font-weight:400;white-space:pre}
	#header.on #gnb .depth2>li>a:hover{font-weight:500;text-decoration:underline;color:#333}
	#header.on #gnb .depth2>li>a:hover:before{background:#333}
	#header.on #gnb .depth2>li>a:before{content:'';display:inline-block;border-radius:5px;width:3px;height:3px;margin-right:5px;background:#666;vertical-align:4px}
	#footer{border-top:1px solid #dee3eb;height:166px;background:#f8f8f8}
	#footer .inner{height:166px;padding-left:216px;background:url("../images/common/f_logo.png") no-repeat left 0 top 50%}
	#footer .footer_t{padding:20px 0}
	#footer .footer_t,footer .footer_t ul{overflow:hidden}
	#footer .footer_t .l,footer .footer_t li{float:left}
	#footer .footer_t .l{padding-top:9px}
	#footer .footer_t .l li:not(:first-child){margin-left:10px}
	#footer .footer_t .l li a{display:block;font-weight:500;font-size:16px;color:#333}
	#footer .footer_t .l li:not(:first-child) a{position:relative;padding-left:10px}
	#footer .footer_t .l li:not(:first-child) a:before{content:'';display:block;position:absolute;top:50%;left:0;width:1px;height:14px;margin-top:-6px;background:#666}
	#footer .footer_t .r{float:right}
	#footer .footer_t .family_site li:not(:first-child){margin-left:10px}
	#footer .footer_t .family_site li select{display:block;border:1px solid #6e6e6e;width:134px;height:39px;padding:0 35px 0 15px;background:url("../images/common/icon_plus.png") no-repeat right 17px top 50%;font-weight:500;line-height:39px;color:#333;cursor:pointer}
	.ie9 #footer .footer_t .family_site li select{padding:0 0 0 15px}
	#footer .footer_b{font-weight:400;font-size:14px;letter-spacing:-.3px;color:#999;overflow:hidden}
	#footer .footer_b .l{margin-top:4px;float:left}
	#footer .footer_b .l address,footer .footer_b .l .copy{display:inline-block}
	#footer .footer_b .l .tel{margin-top:3px}
	#footer .r{float:right}
	#footer .r .btn_facebook{display:block;width:46px;height:46px;background:url("../images/common/icon_facebook.png") no-repeat 0 0}

}
